body {
  margin: 0;
  padding: 0;

}

.app-header {
  height: 60px;
  background-color: #BCCFC1;
  width: 100%;
  align-items: center;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%;

  .app-nav {
    width: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .nav-item {
      height: 60px;
      background-color: gray;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active-nav {
        background-color: red;
      }

      &:hover {
        background-color: yellow;
      }

    }

  }

  .main-content {
    background-color: white;

  }
}
