body {
  margin: 0;
  padding: 0; }

.app-header {
  height: 60px;
  background-color: #BCCFC1;
  width: 100%;
  align-items: center; }

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%; }
  .app-wrapper .app-nav {
    width: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    .app-wrapper .app-nav .nav-item {
      height: 60px;
      background-color: gray;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .app-wrapper .app-nav .nav-item.active-nav {
        background-color: red; }
      .app-wrapper .app-nav .nav-item:hover {
        background-color: yellow; }
  .app-wrapper .main-content {
    background-color: white; }

/*# sourceMappingURL=app.css.map */
